header{
    background-color: rgba(231, 66, 66, 0.938); 
    width:100%;

}

header img{
    margin: 0px 40px;
    width: 40px;
    height:40px;

}

.flex-container{
    display: flex;
    flex-direction: row;
}



.taskname{
    float: left;
}

.tasklist{
    width: 200px;
    margin-right: 50px; 
}

.tasklist-btn{
    float:right;
}